packages:
    yum:
        cairo: []
        cairo-devel: []
        libjpeg-devel: []
        giflib-devel: []
        libpng-devel: []
        pkg-config: []

commands:
  01updatePaths:
    command: "export PKG_CONFIG_PATH=/usr/local/lib/pkgconfig"
  02updatePaths:
    command: "export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH"